* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-family: 'Space Mono', monospace;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
}

.parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background-color: hsl(0, 0%, 100%);
}

.container {
  position: flex;
  flex-direction: space-between;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 20px 0 0;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.btn-container button,
.output-container {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}

.output-container {
  border-radius: 10px;
  padding: 25px 20px;
}

.form-container {
  margin: 5px 0;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  /* flex-basis: 50%; */
  margin-top: 10px;
}

/* button {
  width: 100%;
  min-width: 45%;
  height: auto;
} */

h1 {
  text-align: center;
  width: 90px;
  margin: 0 auto;
  padding: 20px 0;
  word-wrap: break-word;
  color: #3b6162;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 10px 0;
}

/* header {
  margin: 10px 0;
} */

.text {
  color: hsl(186, 14%, 43%);
}

span.text {
  margin-left: -20px;
}

.select-tip {
  width: 45%;
  /* height: auto; */
  padding: 5px 5px;
  margin: 8px 0;
  /* font-size: 22px; */
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
}

/* .select-tip.custom-tip {
  width: 45%;
} */

.select-tip:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.input-color {
  background-color: hsl(189, 41%, 97%);
}

.input-align {
  text-align: right;
}

button:hover {
  cursor: pointer;
}

input {
  font-size: 1.5em;
  /* font-size: 24px; */
  color: hsl(183, 100%, 15%);
  width: 100%;
  display: inline-block;
  margin: 0 0 15px 0;
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-top: 10px;
  /* -webkit-appearance: none;
  -moz-appearance: textfield; */
  appearance: textfield;
}

input:hover {
  cursor: pointer;
  outline: 2px solid hsl(172, 67%, 45%);
}

input:focus {
  /* background-color: hsl(172, 67%, 45%); */
  outline: 2px solid hsl(172, 67%, 45%);
}

.inside-input {
  position: relative;
  top: -50px;
  left: 20px;
  /* margin-bottom: -35px; */
}

.dollar-sign {
  content: url('/images/icon-dollar.svg');
  transform: scale(1.2);
}

.person-icon {
  content: url('/images/icon-person.svg');
}

.per-person {
  display: block;
  /* margin: 10px 0; */
}

.tip-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tip-static-text-person,
.total-static-text-person {
  font-size: 0.8em;
  color: hsl(184, 14%, 56%);
  margin-bottom: 20px;
}

.tip-per-person,
.total-per-person {
  font-size: 2em;
  color: hsl(172, 67%, 45%);
  /* margin-top: 20px; */
}

/* .left {
  float: left;
  left: 0px;
}
.right {
  float: right;
  right: 0px;
} */

.reset-btn {
  width: 100%;
  /* margin: 10px auto; */
  margin-bottom: -5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  font-size: 20px;
  font-weight: 700;
  background-color: hsl(172, 67%, 45%);
}

.reset-btn:disabled {
  background-color: hsl(183, 79%, 24%);
}
button.active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.attribution {
  /* position: absolute; */
  position: relative;
  left: 0;
  right: 0;
  bottom: 10px;
  /* margin-top: 15px; */
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  header {
    position: relative;
    top: -20px;
  }

  body {
    padding: 100px 0;
  }

  .parent {
    border-radius: 0;
    background-color: rgb(0, 0, 0, 0);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: auto;
    width: auto;
    max-width: 70vw;
    border-radius: 20px;
  }

  .form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    /* padding: 0 40px;
    width: 50%; */
  }

  span.text {
    margin-left: 0px;
  }

  .output-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: inherit; */
    min-height: 100%;
    height: 400px;
    margin-left: 30px;
    width: 50%;
  }

  .select-tip {
    width: 30%;
    font-size: 1.2em;
  }

  /* .text-1,
  .text-2 {
    margin-top: 20px;
  } */

  .per-person {
    padding-left: 20px;
    padding-top: 25px;
  }

  .text-0,
  .text-1,
  .text-2 {
    margin-bottom: 10px;
  }

  .text-1 {
    margin-top: 5px;
  }

  .text-2 {
    margin-top: 10px;
  }

  .tip-box {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-container {
    margin-top: 0;
  }

  input {
    margin: 0;
  }

  .inside-input {
    top: -35px;
  }

  .tip-per-person,
  .total-per-person {
    position: relative;
    bottom: -10px;
    font-size: 2.5em;
  }

  .tip-static-text-person,
  .total-static-text-person {
    padding-top: 0;
  }

  /* .reset-btn {
    position: relative;
    bottom: -60px;
    margin-bottom: 0;
  } */

  .attribution {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 50px;
  }
}
